h1{
  color: red;
}
body{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 41%, rgb(0,212,255,1) 54%, rgba(0,212,255,1) 72%, rgb(28, 76, 167) 94%, rgba(0,212,255,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul li{
  list-style-type: '🤖';
}